{% extends "base.html" %}

{% block title %}{{ repository.name }}{% endblock %}

{% block styles %}

{% endblock %}

{% block header %}
    <p class="header-title">
        {{ repository.name }}
    </p>
{% endblock %}

{% block content %}
    <h1 style="padding-top: 1rem; padding-bottom: 1rem;">{{ repository.name }}</h1>
    <p></p>
    {% include 'apps/repositories/snippets/repository_pills_menu.html' %}
    <p></p>
    <div class="row">
        <div class="col-md-8">
            <h4>Summary</h4>
            <div class="row gy-4">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><i class="mdi mdi-file-upload" aria-hidden="true" style="font-size: 35px"></i></h5>
                            <h5 class="card-title">Release Count</h5>
                            <p class="card-text">{{ total_release_count }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><i class="mdi mdi-file-upload-outline" aria-hidden="true" style="font-size: 35px"></i></h5>
                            <h5 class="card-title">Pre-Release Count</h5>
                            <p class="card-text">{{ total_pre_release_count }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><i class="mdi mdi-file-sync" aria-hidden="true" style="font-size: 35px"></i></h5>
                            <h5 class="card-title">Total Artifact Count</h5>
                            <p class="card-text">{{ total_artifact_count }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><i class="mdi mdi-text-box-multiple" aria-hidden="true" style="font-size: 35px"></i></h5>
                            <h5 class="card-title">Total Artifact Size</h5>
                            <p class="card-text">{{ total_artifact_size|filesizeformat }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><i class="mdi mdi-clock" aria-hidden="true" style="font-size: 35px"></i></h5>
                            <h5 class="card-title">Latest Update</h5>
                            <p class="card-text">{{ latest_update|timesince }} ago</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="d-flex">
                <h4>About</h4>
                <a href="{% url 'apps_repository_settings' repository.slug %}" class="btn btn-sm btn-outline-primary" style="margin-left: auto;"><i class="mdi mdi-pencil" aria-hidden="true" style="font-size: 16px"></i></a>
            </div>
            <p class="text-break">{{ repository.description }}</p>
            <hr>
            <div class="d-flex">
                <h4>Members</h4>
                <a href="#" class="btn btn-sm btn-outline-primary" style="margin-left: auto;"><i class="mdi mdi-pencil" aria-hidden="true" style="font-size: 16px"></i></a>
            </div>
            <div class="d-flex flex-wrap gap-2">
            {% for permission in permissions %}
                <img src="{{ permission.user.profile.avatar.url }}" alt="{{ permission.user.username }}" class="rounded-circle" style="width: 32px; height: 32px;">
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}