{% extends "base.html" %}

{% block title %}403{% endblock %}

{% block styles %}

{% endblock %}

{% block header %}
    <p class="header-title">
        Forbidden
    </p>
{% endblock %}

{% block content %}
    <div style="text-align: center">
        <img src="https://media.tenor.com/5XiiMeuhdc4AAAAC/atena-saotome-megami-ryou-no-ryoubo-kun.gif" alt="No repositories found" style="margin: 0 auto; display: block; border-radius: 0.25rem;">
        <h2 style="margin-top: 1rem;">403 Forbidden</h2>
        <p>Ehhh, what are you doing here? But you cannot access here. Go back!</p>
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}