{% extends "base.html" %}

{% block title %}404{% endblock %}

{% block styles %}

{% endblock %}

{% block header %}
    <p class="header-title">
        Not found
    </p>
{% endblock %}

{% block content %}
    <div style="text-align: center">
        <img src="https://media.tenor.com/5XiiMeuhdc4AAAAC/atena-saotome-megami-ryou-no-ryoubo-kun.gif" alt="No repositories found" style="margin: 0 auto; display: block; border-radius: 0.25rem;">
        <h2 style="margin-top: 1rem;">404 Not found</h2>
        <p>What are you looking for?</p>
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}