{% extends "base.html" %}

{% block title %}500{% endblock %}

{% block styles %}

{% endblock %}

{% block header %}
    <p class="header-title">
        Internal Server Error
    </p>
{% endblock %}

{% block content %}
    <div style="text-align: center">
        <img src="https://media.tenor.com/OCZfKt0-apMAAAAC/megami-ryou-no-ryoubo-kun-hozumi-serene.gif" alt="No repositories found" style="margin: 0 auto; display: block; border-radius: 0.25rem;">
        <h2 style="margin-top: 1rem;">500 Internal Server Error</h2>
        <p>Sumimasen, something went wrong here. We have been notified and will fix this as soon as possible.
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}